{% extends 'base.html' %}
{% load bootstrap4 i18n %}

{% block content %}
<div class="container mt-5">
	<div class="col-lg-6 offset-lg-3">
		<div class="jumbotron">
			<h1>{% trans "Create your account" %}</h1>
			<hr>
			<form method="post" action="{% url 'accounts:sign-up' %}">
				{% bootstrap_form form %}
				{% csrf_token %}
				<div class="form-group text-right">
					<button class="btn btn-primary" type="submit">{% trans "Send" %}</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock content %}